.paginated{
    display: flex;
    align-content: center;
    justify-content: center; 
    font-family: 'Inter',sans-serif;
}

.number{

    background-color:#cc0000;
    color:#ffde00;
    cursor: pointer;
    list-style: none; 
}
li {
    
    width: 1vw;
    height: 1vw;
    margin: 1.5vw;
}
li:hover{
    background-color:#FF0000;
    color:#ffde00;
   
}
.focus{
    transform: scale(1.7);

    cursor: pointer;
    list-style: none;
    
}
button {
    background-color: #ffde00;
    color: #00ff;
    
    border-radius: .3vh;
    border: 0.1vw solid #00ff;
    margin: 0px;
    font-size:  1.5vw;
}